# Streamlit
streamlit==1.50.0

# Chroma DB for local embeddings storage
chromadb==1.2.1

# Sentence Transformers (Python 3.13 uyumlu)
sentence-transformers>=2.3.0

# Torch uyumu (sentence-transformers ile)
torch>=2.5.1

# Veri işleme
pandas>=2.2.3
numpy>=1.26.0
